<!--
    This statement use to collect the data directly in a object form
    Can use this for the asp section
-->
@model MVCFlowerShop.Models.FlowerTable

<center>
    <h1>Insert A New Flower Information:</h1>
    <br />
    <hr />
    <br />
    <form asp-action="AddData" asp-controller="FlowerList" method="post">
        <table border="1">
            <tr>
                <th>
                    <label asp-for="FlowerName"></label>
                </th>
                <td>
                    <input asp-for="FlowerName" required />
                </td>
                <td>
                    <span asp-validation-for="FlowerName"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <label asp-for="FlowerType"></label>
                </th>
                <td>
                    <input asp-for="FlowerType" required />
                </td>
                <td>
                    <span asp-validation-for="FlowerType"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <label asp-for="FlowerProducedDate"></label>
                </th>
                <td>
                    <input asp-for="FlowerProducedDate" required />
                </td>
                <td>
                    <span asp-validation-for="FlowerProducedDate"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <label asp-for="FlowerPrice"></label>
                </th>
                <td>
                    <input asp-for="FlowerPrice" required />
                </td>
                <td>
                    <span asp-validation-for="FlowerPrice"></span>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center">
                    <button class="btn-info">
                        Create New Flower
                    </button>
                </td>
            </tr>
        </table>
    </form>
</center>