@model MVCFlowerShop.Models.FlowerTable

<center>
    <h1>Edit Current Flower Information:</h1>
    <br/><hr/><br/>
    <form method="post" asp-action="UpdateData" asp-controller="FlowerList">
        <table border="1">
            <tr>
                <th><label asp-for="FlowerId"></label></th>
                <td><input asp-for="FlowerId" readonly /></td>
            </tr>
            <tr>
                <th><label asp-for="FlowerName"></label></th>
                <td><input asp-for="FlowerName" /></td>
                <td><span asp-validation-for="FlowerName"></span></td>
            </tr>
            <tr>
                <th><label asp-for="FlowerType"></label></th>
                <td><input asp-for="FlowerType" /></td>
                <td><span asp-validation-for="FlowerType"></span></td>
            </tr>
            <tr>
                <th><label asp-for="FlowerPrice"></label></th>
                <td><input asp-for="FlowerPrice" /></td>
                <td><span asp-validation-for="FlowerPrice"></span></td>
            </tr>
            <tr>
                <th><label asp-for="FlowerProducedDate"></label></th>
                <td><input asp-for="FlowerProducedDate" /></td>
                <td><span asp-validation-for="FlowerProducedDate"></span></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center">
                    <button type="submit" class="btn-info">Update Flower</button>
                </td>
            </tr>
        </table>

    </form>
</center>