@{
    ViewData["Title"] = "Presigned URL Image";
}

<center>
    <h1>Presigned URL image</h1>
    <br />
    <hr /><br />
    <img src="@ViewBag.presignedUrl" width="400px" height="400px" />
</center>