@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<center>
    <h1>Upload Flower Picture to S3:</h1>
    <br />
    <hr />
    <br />
    <form asp-action="ProcessUploadImage" asp-controller="ImageUpload" method="post" enctype="multipart/form-data">
        Choose your flower picture: <input type="file" name="imagefile" accept="image/*" multiple />
        <br /><br />
        <input type="submit" name="submit" value="Upload image to S3!" />
    </form>
    <a asp-action="DisplayImageFromS3" class="btn btn-primary">Display Flower Images from S3</a>
</center>